@font-face {
  font-family: shrikhand;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
}

@font-face {
  font-family: Roboto;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
}

body {
  font-family: Roboto, sans-serif;
  background: #f2f2f2;
}

body .loader-spinner {
  position: relative;
  border-radius: 100%;
  border: 6px solid #99e2d0;
  position: relative;
  height: 350px;
  width: 350px;
  overflow: hidden;
}

body .loader-spinner {
  position: absolute;
  border-radius: 100%;
  border-top-color: #e74c3c;
  left: 150px;
  margin: auto;
  -webkit-border-radius: 100%;
  animation: spinner 3s linear 0.5ms both;
  -webkit-animation: spinner 3s linear 0.5ms both;
}

@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    opacity: 0;
  }
}

body .container {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}

body .container header {
  background-color: white;
  padding: 20px;
  margin: -16px 0;
}

body .container header .logo, body .container header .logo_arrow .img_logo, body .container .logo_arrow header .img_logo {
  height: 3rem;
  background-color: white;
  display: inherit;
  margin: auto;
  font-family: shrikhand;
}

body .container .reservation {
  margin: auto;
  width: 100%;
  background-color: #efefef;
  padding-bottom: 66px;
}

body .container .reservation .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e0e0e0;
  height: 58px;
  margin-top: 8px;
  margin-bottom: 50px;
  padding: 10px;
  border: 5px inset #e0e0e0;
}

body .container .reservation .search i.fas.fa-map-marker-alt {
  padding-right: 15px;
  height: 34px;
  font-size: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .container .reservation .search input::-webkit-input-placeholder {
  color: black !important;
  background-color: #e0e0e0;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  height: 64px;
  padding: 15px 10px;
  width: 100%;
}

body .container .reservation .search input {
  border: none;
  background-color: #e0e0e0;
}

body .container .reservation .title_reservation {
  text-align: center;
  margin: auto;
}

body .container .reservation .title_reservation h1 {
  font-size: 25px;
}

body .container .reservation .title_reservation h3, body .container .reservation .title_reservation section .cards h4, body .container section .cards .reservation .title_reservation h4 {
  font-size: 18px;
  font-weight: normal;
  color: #888;
  height: 60px;
}

body .container .reservation .btn, body .container .reservation .btn_reservation {
  border: 0px solid #9356dc;
  background: -webkit-gradient(linear, left top, right top, from(#ff79da), to(#9356dc));
  background: linear-gradient(90deg, #ff79da 0%, #9356dc 100%);
  border-radius: 30px;
  width: 200px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-size: 15px;
  font-weight: bold;
}

body .container .reservation .btn_reservation a {
  text-decoration: none;
  color: white;
  margin: auto;
}

body .container aside {
  background-color: white;
  padding: 1px;
}

body .container aside .offre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  font-weight: bold;
  grid-gap: 15px;
}

@media screen and (min-width: 1200px) {
  body .container aside .offre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body .container aside .offre i {
  margin: 20px;
  color: #888;
  font-size: 21px;
}

body .container aside .offre i.fas.fa-store {
  color: #9356dc;
}

body .container aside .offre .cercle {
  background-color: #9356dc;
  border-radius: 20px;
  padding: 6px 10px;
  margin-left: -4px;
  color: white;
}

body .container aside .offre a {
  text-decoration: none;
  color: black;
  font-size: 19px;
  padding: 12px 3px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 20px;
  border-bottom-color: #dad0d0;
}

body .container aside .offre .deguster {
  background: -webkit-gradient(linear, left top, right top, color-stop(98%, #e7def0), to(rgba(228, 205, 255, 0.997773)));
  background: linear-gradient(90deg, #e7def0 98%, rgba(228, 205, 255, 0.997773) 100%);
}

body .container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
  body .container section .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
    grid-gap: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

body .container section .cards .h2 {
  padding: 30px 0 0 10px;
}

body .container section .cards a {
  text-decoration: none;
}

body .container section .cards .card {
  border: 1px solid #f2f2f2;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 20px;
  position: relative;
}

body .container section .cards h3, body .container section .cards h4 {
  padding-left: 10px;
  font-family: Shrikhand;
  color: black;
}

body .container section .cards h4 {
  font-size: 19px;
  margin-top: -15px;
  font-family: roboto;
}

body .container section .cards .img, body .container section .cards .img_section {
  width: 100%;
  max-height: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container section .cards .img_section {
  border-top-left-radius: 4vw;
  border-top-right-radius: 4vw;
}

@media screen and (min-width: 1200px) {
  body .container section .cards .img_section {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 38vh;
    width: 100%;
  }
}

body .container section .cards .legende_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container section .cards .legende_card i.fas.fa-heart {
  margin-left: auto;
  margin-top: 20px;
  font-size: 30px;
  font-weight: normal;
  color: #888;
  width: 15%;
}

body .container section .cards .legende_card i.fas.fa-heart:hover {
  color: #9356dc;
  cursor: pointer;
  font-weight: bolder;
  -webkit-transition: 2ms;
  transition: 2ms;
}

body .container section .cards .new_label {
  position: absolute;
  top: 20px;
  right: 35px;
  width: 100px;
  background: #99e2d0;
  color: #058868;
  font-weight: bold;
  padding: 8px;
  border-radius: 3px;
  font-size: 23px;
}

body .container footer {
  background: #333;
  font-family: Roboto, sans-serif;
  padding: 40px 30px;
  color: #fff;
  position: static;
}

@media screen and (min-width: 1200px) {
  body .container footer {
    text-align: center;
    width: 95%;
  }
}

body .container footer img {
  height: 2rem;
  -webkit-filter: invert(1);
          filter: invert(1);
}

body .container footer ul {
  list-style-type: none;
  margin-left: -40px;
  font-size: 21px;
  line-height: 37px;
}

body .container footer ul li .email {
  text-decoration: none;
  color: #fff;
}

body .container footer ul li i {
  padding-right: 10px;
}

body .container footer ul li i.fas.fa-hands-helping {
  font-size: 12px;
}

body .container .logo_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .logo_arrow a {
  text-decoration: none;
}

body .container .logo_arrow a i.fas.fa-arrow-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  font-weight: 900;
  font-size: xx-large;
  color: black;
}

body .container .menu_du_gout, body .container .menu_enchante, body .container .menu_francais, body .container .menu_des_sens {
  background-color: #f2f2f2;
  margin-top: -15px;
}

@media screen and (min-width: 1200px) {
  body .container .menu_du_gout, body .container .menu_enchante, body .container .menu_francais, body .container .menu_des_sens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 30px;
    width: 100%;
  }
}

body .container .menu_du_gout .img_main, body .container .menu_enchante .img_main, body .container .menu_francais .img_main, body .container .menu_des_sens .img_main {
  width: 100%;
  max-height: 60vw;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container .menu_du_gout .heading, body .container .menu_enchante .heading, body .container .menu_francais .heading, body .container .menu_des_sens .heading {
  margin-top: 20px;
  background-color: white;
}

body .container .menu_du_gout .heading .bg_legende, body .container .menu_enchante .heading .bg_legende, body .container .menu_francais .heading .bg_legende, body .container .menu_des_sens .heading .bg_legende {
  width: 110%;
  height: 10em;
}

body .container .menu_du_gout .heading .bg_legende .legende, body .container .menu_enchante .heading .bg_legende .legende, body .container .menu_francais .heading .bg_legende .legende, body .container .menu_des_sens .heading .bg_legende .legende {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 93%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  font-style: italic;
  height: 82px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container .menu_du_gout .heading .bg_legende .legende i.fas.fa-heart, body .container .menu_enchante .heading .bg_legende .legende i.fas.fa-heart, body .container .menu_francais .heading .bg_legende .legende i.fas.fa-heart, body .container .menu_des_sens .heading .bg_legende .legende i.fas.fa-heart {
  width: 20%;
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10%;
  cursor: pointer;
  font-weight: lighter;
  font-size: 7vw;
  border-top-right-radius: 4vw;
  background-color: white;
  margin-top: -11%;
}

@media screen and (min-width: 1200px) {
  body .container .menu_du_gout .heading .bg_legende .legende i.fas.fa-heart, body .container .menu_enchante .heading .bg_legende .legende i.fas.fa-heart, body .container .menu_francais .heading .bg_legende .legende i.fas.fa-heart, body .container .menu_des_sens .heading .bg_legende .legende i.fas.fa-heart {
    font-size: 1.9em;
    padding-top: 1em;
    width: 18%;
  }
}

body .container .menu_du_gout .heading .bg_legende .legende i.fas.fa-heart:hover, body .container .menu_enchante .heading .bg_legende .legende i.fas.fa-heart:hover, body .container .menu_francais .heading .bg_legende .legende i.fas.fa-heart:hover, body .container .menu_des_sens .heading .bg_legende .legende i.fas.fa-heart:hover {
  transition: 2s ease-in-out;
  width: 20%;
  animation: coeur 8s both;
  -webkit-animation: coeur 1s both;
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -ms-transition: 2s ease-in-out;
  -o-transition: 2s ease-in-out;
}

@-webkit-keyframes coeur {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
    font-weight: bold;
    color: #9356dc;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
  }
}

@keyframes coeur {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
    font-weight: bold;
    color: #9356dc;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
  }
}

body .container .menu_du_gout .heading .bg_legende .legende h1, body .container .menu_enchante .heading .bg_legende .legende h1, body .container .menu_francais .heading .bg_legende .legende h1, body .container .menu_des_sens .heading .bg_legende .legende h1 {
  font-size: 7vw;
  font-family: shrikhand;
  font-style: oblique;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  border-top-left-radius: 4vw;
  background-color: white;
  margin-top: -5%;
  padding-top: 7%;
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
  body .container .menu_du_gout .heading .bg_legende .legende h1, body .container .menu_enchante .heading .bg_legende .legende h1, body .container .menu_francais .heading .bg_legende .legende h1, body .container .menu_des_sens .heading .bg_legende .legende h1 {
    font-size: 2em;
    margin-top: -2.6%;
  }
}

body .container .menu_du_gout h2, body .container .menu_enchante h2, body .container .menu_francais h2, body .container .menu_des_sens h2 {
  width: 60px;
  border: 4px solid #99e2d0;
  font-family: Roboto;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 6px;
  margin-top: 50px;
  color: #888;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px;
}

@media screen and (min-width: 1200px) {
  body .container .menu_du_gout h2, body .container .menu_enchante h2, body .container .menu_francais h2, body .container .menu_des_sens h2 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 900;
    display: inline-table;
    width: 100%;
  }
}

body .container .menu_du_gout .entrees, body .container .menu_enchante .entrees, body .container .menu_francais .entrees, body .container .menu_des_sens .entrees, body .container .menu_du_gout .plats, body .container .menu_enchante .plats, body .container .menu_francais .plats, body .container .menu_des_sens .plats, body .container .menu_du_gout .desserts, body .container .menu_enchante .desserts, body .container .menu_francais .desserts, body .container .menu_des_sens .desserts {
  -webkit-animation-name: fade-1;
          animation-name: fade-1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@media screen and (min-width: 1200px) {
  body .container .menu_du_gout .entrees, body .container .menu_enchante .entrees, body .container .menu_francais .entrees, body .container .menu_des_sens .entrees, body .container .menu_du_gout .plats, body .container .menu_enchante .plats, body .container .menu_francais .plats, body .container .menu_des_sens .plats, body .container .menu_du_gout .desserts, body .container .menu_enchante .desserts, body .container .menu_francais .desserts, body .container .menu_des_sens .desserts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    text-align: center;
  }
}

body .container .menu_du_gout .entrees .entree, body .container .menu_enchante .entrees .entree, body .container .menu_francais .entrees .entree, body .container .menu_des_sens .entrees .entree, body .container .menu_du_gout .entrees .plat, body .container .menu_enchante .entrees .plat, body .container .menu_francais .entrees .plat, body .container .menu_des_sens .entrees .plat, body .container .menu_du_gout .entrees .dessert, body .container .menu_enchante .entrees .dessert, body .container .menu_francais .entrees .dessert, body .container .menu_des_sens .entrees .dessert, body .container .menu_du_gout .plats .entree, body .container .menu_enchante .plats .entree, body .container .menu_francais .plats .entree, body .container .menu_des_sens .plats .entree, body .container .menu_du_gout .plats .plat, body .container .menu_enchante .plats .plat, body .container .menu_francais .plats .plat, body .container .menu_des_sens .plats .plat, body .container .menu_du_gout .plats .dessert, body .container .menu_enchante .plats .dessert, body .container .menu_francais .plats .dessert, body .container .menu_des_sens .plats .dessert, body .container .menu_du_gout .desserts .entree, body .container .menu_enchante .desserts .entree, body .container .menu_francais .desserts .entree, body .container .menu_des_sens .desserts .entree, body .container .menu_du_gout .desserts .plat, body .container .menu_enchante .desserts .plat, body .container .menu_francais .desserts .plat, body .container .menu_des_sens .desserts .plat, body .container .menu_du_gout .desserts .dessert, body .container .menu_enchante .desserts .dessert, body .container .menu_francais .desserts .dessert, body .container .menu_des_sens .desserts .dessert {
  border: 1px solid white;
  background-color: white;
  border-radius: 20px;
  border-bottom-color: #dad0d0;
  padding: 0 4px 0 10px;
  margin-top: 15px;
  cursor: pointer;
  line-height: 53px;
}

@media screen and (min-width: 1200px) {
  body .container .menu_du_gout .entrees .entree, body .container .menu_enchante .entrees .entree, body .container .menu_francais .entrees .entree, body .container .menu_des_sens .entrees .entree, body .container .menu_du_gout .entrees .plat, body .container .menu_enchante .entrees .plat, body .container .menu_francais .entrees .plat, body .container .menu_des_sens .entrees .plat, body .container .menu_du_gout .entrees .dessert, body .container .menu_enchante .entrees .dessert, body .container .menu_francais .entrees .dessert, body .container .menu_des_sens .entrees .dessert, body .container .menu_du_gout .plats .entree, body .container .menu_enchante .plats .entree, body .container .menu_francais .plats .entree, body .container .menu_des_sens .plats .entree, body .container .menu_du_gout .plats .plat, body .container .menu_enchante .plats .plat, body .container .menu_francais .plats .plat, body .container .menu_des_sens .plats .plat, body .container .menu_du_gout .plats .dessert, body .container .menu_enchante .plats .dessert, body .container .menu_francais .plats .dessert, body .container .menu_des_sens .plats .dessert, body .container .menu_du_gout .desserts .entree, body .container .menu_enchante .desserts .entree, body .container .menu_francais .desserts .entree, body .container .menu_des_sens .desserts .entree, body .container .menu_du_gout .desserts .plat, body .container .menu_enchante .desserts .plat, body .container .menu_francais .desserts .plat, body .container .menu_des_sens .desserts .plat, body .container .menu_du_gout .desserts .dessert, body .container .menu_enchante .desserts .dessert, body .container .menu_francais .desserts .dessert, body .container .menu_des_sens .desserts .dessert {
    width: 25%;
    text-align: start;
  }
}

body .container .menu_du_gout .entrees .entree h3, body .container .menu_enchante .entrees .entree h3, body .container .menu_francais .entrees .entree h3, body .container .menu_des_sens .entrees .entree h3, body .container .menu_du_gout .entrees .entree section .cards h4, body .container section .cards .menu_du_gout .entrees .entree h4, body .container .menu_enchante .entrees .entree section .cards h4, body .container section .cards .menu_enchante .entrees .entree h4, body .container .menu_francais .entrees .entree section .cards h4, body .container section .cards .menu_francais .entrees .entree h4, body .container .menu_des_sens .entrees .entree section .cards h4, body .container section .cards .menu_des_sens .entrees .entree h4, body .container .menu_du_gout .entrees .plat h3, body .container .menu_enchante .entrees .plat h3, body .container .menu_francais .entrees .plat h3, body .container .menu_des_sens .entrees .plat h3, body .container .menu_du_gout .entrees .plat section .cards h4, body .container section .cards .menu_du_gout .entrees .plat h4, body .container .menu_enchante .entrees .plat section .cards h4, body .container section .cards .menu_enchante .entrees .plat h4, body .container .menu_francais .entrees .plat section .cards h4, body .container section .cards .menu_francais .entrees .plat h4, body .container .menu_des_sens .entrees .plat section .cards h4, body .container section .cards .menu_des_sens .entrees .plat h4, body .container .menu_du_gout .entrees .dessert h3, body .container .menu_enchante .entrees .dessert h3, body .container .menu_francais .entrees .dessert h3, body .container .menu_des_sens .entrees .dessert h3, body .container .menu_du_gout .entrees .dessert section .cards h4, body .container section .cards .menu_du_gout .entrees .dessert h4, body .container .menu_enchante .entrees .dessert section .cards h4, body .container section .cards .menu_enchante .entrees .dessert h4, body .container .menu_francais .entrees .dessert section .cards h4, body .container section .cards .menu_francais .entrees .dessert h4, body .container .menu_des_sens .entrees .dessert section .cards h4, body .container section .cards .menu_des_sens .entrees .dessert h4, body .container .menu_du_gout .plats .entree h3, body .container .menu_enchante .plats .entree h3, body .container .menu_francais .plats .entree h3, body .container .menu_des_sens .plats .entree h3, body .container .menu_du_gout .plats .entree section .cards h4, body .container section .cards .menu_du_gout .plats .entree h4, body .container .menu_enchante .plats .entree section .cards h4, body .container section .cards .menu_enchante .plats .entree h4, body .container .menu_francais .plats .entree section .cards h4, body .container section .cards .menu_francais .plats .entree h4, body .container .menu_des_sens .plats .entree section .cards h4, body .container section .cards .menu_des_sens .plats .entree h4, body .container .menu_du_gout .plats .plat h3, body .container .menu_enchante .plats .plat h3, body .container .menu_francais .plats .plat h3, body .container .menu_des_sens .plats .plat h3, body .container .menu_du_gout .plats .plat section .cards h4, body .container section .cards .menu_du_gout .plats .plat h4, body .container .menu_enchante .plats .plat section .cards h4, body .container section .cards .menu_enchante .plats .plat h4, body .container .menu_francais .plats .plat section .cards h4, body .container section .cards .menu_francais .plats .plat h4, body .container .menu_des_sens .plats .plat section .cards h4, body .container section .cards .menu_des_sens .plats .plat h4, body .container .menu_du_gout .plats .dessert h3, body .container .menu_enchante .plats .dessert h3, body .container .menu_francais .plats .dessert h3, body .container .menu_des_sens .plats .dessert h3, body .container .menu_du_gout .plats .dessert section .cards h4, body .container section .cards .menu_du_gout .plats .dessert h4, body .container .menu_enchante .plats .dessert section .cards h4, body .container section .cards .menu_enchante .plats .dessert h4, body .container .menu_francais .plats .dessert section .cards h4, body .container section .cards .menu_francais .plats .dessert h4, body .container .menu_des_sens .plats .dessert section .cards h4, body .container section .cards .menu_des_sens .plats .dessert h4, body .container .menu_du_gout .desserts .entree h3, body .container .menu_enchante .desserts .entree h3, body .container .menu_francais .desserts .entree h3, body .container .menu_des_sens .desserts .entree h3, body .container .menu_du_gout .desserts .entree section .cards h4, body .container section .cards .menu_du_gout .desserts .entree h4, body .container .menu_enchante .desserts .entree section .cards h4, body .container section .cards .menu_enchante .desserts .entree h4, body .container .menu_francais .desserts .entree section .cards h4, body .container section .cards .menu_francais .desserts .entree h4, body .container .menu_des_sens .desserts .entree section .cards h4, body .container section .cards .menu_des_sens .desserts .entree h4, body .container .menu_du_gout .desserts .plat h3, body .container .menu_enchante .desserts .plat h3, body .container .menu_francais .desserts .plat h3, body .container .menu_des_sens .desserts .plat h3, body .container .menu_du_gout .desserts .plat section .cards h4, body .container section .cards .menu_du_gout .desserts .plat h4, body .container .menu_enchante .desserts .plat section .cards h4, body .container section .cards .menu_enchante .desserts .plat h4, body .container .menu_francais .desserts .plat section .cards h4, body .container section .cards .menu_francais .desserts .plat h4, body .container .menu_des_sens .desserts .plat section .cards h4, body .container section .cards .menu_des_sens .desserts .plat h4, body .container .menu_du_gout .desserts .dessert h3, body .container .menu_enchante .desserts .dessert h3, body .container .menu_francais .desserts .dessert h3, body .container .menu_des_sens .desserts .dessert h3, body .container .menu_du_gout .desserts .dessert section .cards h4, body .container section .cards .menu_du_gout .desserts .dessert h4, body .container .menu_enchante .desserts .dessert section .cards h4, body .container section .cards .menu_enchante .desserts .dessert h4, body .container .menu_francais .desserts .dessert section .cards h4, body .container section .cards .menu_francais .desserts .dessert h4, body .container .menu_des_sens .desserts .dessert section .cards h4, body .container section .cards .menu_des_sens .desserts .dessert h4 {
  font-family: Roboto;
}

body .container .menu_du_gout .entrees .entree .titre_prix, body .container .menu_enchante .entrees .entree .titre_prix, body .container .menu_francais .entrees .entree .titre_prix, body .container .menu_des_sens .entrees .entree .titre_prix, body .container .menu_du_gout .entrees .plat .titre_prix, body .container .menu_enchante .entrees .plat .titre_prix, body .container .menu_francais .entrees .plat .titre_prix, body .container .menu_des_sens .entrees .plat .titre_prix, body .container .menu_du_gout .entrees .dessert .titre_prix, body .container .menu_enchante .entrees .dessert .titre_prix, body .container .menu_francais .entrees .dessert .titre_prix, body .container .menu_des_sens .entrees .dessert .titre_prix, body .container .menu_du_gout .plats .entree .titre_prix, body .container .menu_enchante .plats .entree .titre_prix, body .container .menu_francais .plats .entree .titre_prix, body .container .menu_des_sens .plats .entree .titre_prix, body .container .menu_du_gout .plats .plat .titre_prix, body .container .menu_enchante .plats .plat .titre_prix, body .container .menu_francais .plats .plat .titre_prix, body .container .menu_des_sens .plats .plat .titre_prix, body .container .menu_du_gout .plats .dessert .titre_prix, body .container .menu_enchante .plats .dessert .titre_prix, body .container .menu_francais .plats .dessert .titre_prix, body .container .menu_des_sens .plats .dessert .titre_prix, body .container .menu_du_gout .desserts .entree .titre_prix, body .container .menu_enchante .desserts .entree .titre_prix, body .container .menu_francais .desserts .entree .titre_prix, body .container .menu_des_sens .desserts .entree .titre_prix, body .container .menu_du_gout .desserts .plat .titre_prix, body .container .menu_enchante .desserts .plat .titre_prix, body .container .menu_francais .desserts .plat .titre_prix, body .container .menu_des_sens .desserts .plat .titre_prix, body .container .menu_du_gout .desserts .dessert .titre_prix, body .container .menu_enchante .desserts .dessert .titre_prix, body .container .menu_francais .desserts .dessert .titre_prix, body .container .menu_des_sens .desserts .dessert .titre_prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 93%;
  font-style: normal;
  font-size: 14px;
  margin-top: -40px;
}

@media screen and (min-width: 1200px) {
  body .container .menu_du_gout .entrees .entree .titre_prix, body .container .menu_enchante .entrees .entree .titre_prix, body .container .menu_francais .entrees .entree .titre_prix, body .container .menu_des_sens .entrees .entree .titre_prix, body .container .menu_du_gout .entrees .plat .titre_prix, body .container .menu_enchante .entrees .plat .titre_prix, body .container .menu_francais .entrees .plat .titre_prix, body .container .menu_des_sens .entrees .plat .titre_prix, body .container .menu_du_gout .entrees .dessert .titre_prix, body .container .menu_enchante .entrees .dessert .titre_prix, body .container .menu_francais .entrees .dessert .titre_prix, body .container .menu_des_sens .entrees .dessert .titre_prix, body .container .menu_du_gout .plats .entree .titre_prix, body .container .menu_enchante .plats .entree .titre_prix, body .container .menu_francais .plats .entree .titre_prix, body .container .menu_des_sens .plats .entree .titre_prix, body .container .menu_du_gout .plats .plat .titre_prix, body .container .menu_enchante .plats .plat .titre_prix, body .container .menu_francais .plats .plat .titre_prix, body .container .menu_des_sens .plats .plat .titre_prix, body .container .menu_du_gout .plats .dessert .titre_prix, body .container .menu_enchante .plats .dessert .titre_prix, body .container .menu_francais .plats .dessert .titre_prix, body .container .menu_des_sens .plats .dessert .titre_prix, body .container .menu_du_gout .desserts .entree .titre_prix, body .container .menu_enchante .desserts .entree .titre_prix, body .container .menu_francais .desserts .entree .titre_prix, body .container .menu_des_sens .desserts .entree .titre_prix, body .container .menu_du_gout .desserts .plat .titre_prix, body .container .menu_enchante .desserts .plat .titre_prix, body .container .menu_francais .desserts .plat .titre_prix, body .container .menu_des_sens .desserts .plat .titre_prix, body .container .menu_du_gout .desserts .dessert .titre_prix, body .container .menu_enchante .desserts .dessert .titre_prix, body .container .menu_francais .desserts .dessert .titre_prix, body .container .menu_des_sens .desserts .dessert .titre_prix {
    font-size: 13px;
  }
}

body .container .menu_du_gout .entrees .entree .titre_prix .titre, body .container .menu_enchante .entrees .entree .titre_prix .titre, body .container .menu_francais .entrees .entree .titre_prix .titre, body .container .menu_des_sens .entrees .entree .titre_prix .titre, body .container .menu_du_gout .entrees .plat .titre_prix .titre, body .container .menu_enchante .entrees .plat .titre_prix .titre, body .container .menu_francais .entrees .plat .titre_prix .titre, body .container .menu_des_sens .entrees .plat .titre_prix .titre, body .container .menu_du_gout .entrees .dessert .titre_prix .titre, body .container .menu_enchante .entrees .dessert .titre_prix .titre, body .container .menu_francais .entrees .dessert .titre_prix .titre, body .container .menu_des_sens .entrees .dessert .titre_prix .titre, body .container .menu_du_gout .plats .entree .titre_prix .titre, body .container .menu_enchante .plats .entree .titre_prix .titre, body .container .menu_francais .plats .entree .titre_prix .titre, body .container .menu_des_sens .plats .entree .titre_prix .titre, body .container .menu_du_gout .plats .plat .titre_prix .titre, body .container .menu_enchante .plats .plat .titre_prix .titre, body .container .menu_francais .plats .plat .titre_prix .titre, body .container .menu_des_sens .plats .plat .titre_prix .titre, body .container .menu_du_gout .plats .dessert .titre_prix .titre, body .container .menu_enchante .plats .dessert .titre_prix .titre, body .container .menu_francais .plats .dessert .titre_prix .titre, body .container .menu_des_sens .plats .dessert .titre_prix .titre, body .container .menu_du_gout .desserts .entree .titre_prix .titre, body .container .menu_enchante .desserts .entree .titre_prix .titre, body .container .menu_francais .desserts .entree .titre_prix .titre, body .container .menu_des_sens .desserts .entree .titre_prix .titre, body .container .menu_du_gout .desserts .plat .titre_prix .titre, body .container .menu_enchante .desserts .plat .titre_prix .titre, body .container .menu_francais .desserts .plat .titre_prix .titre, body .container .menu_des_sens .desserts .plat .titre_prix .titre, body .container .menu_du_gout .desserts .dessert .titre_prix .titre, body .container .menu_enchante .desserts .dessert .titre_prix .titre, body .container .menu_francais .desserts .dessert .titre_prix .titre, body .container .menu_des_sens .desserts .dessert .titre_prix .titre {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container .menu_du_gout .entrees .entree .titre_prix .prix, body .container .menu_enchante .entrees .entree .titre_prix .prix, body .container .menu_francais .entrees .entree .titre_prix .prix, body .container .menu_des_sens .entrees .entree .titre_prix .prix, body .container .menu_du_gout .entrees .plat .titre_prix .prix, body .container .menu_enchante .entrees .plat .titre_prix .prix, body .container .menu_francais .entrees .plat .titre_prix .prix, body .container .menu_des_sens .entrees .plat .titre_prix .prix, body .container .menu_du_gout .entrees .dessert .titre_prix .prix, body .container .menu_enchante .entrees .dessert .titre_prix .prix, body .container .menu_francais .entrees .dessert .titre_prix .prix, body .container .menu_des_sens .entrees .dessert .titre_prix .prix, body .container .menu_du_gout .plats .entree .titre_prix .prix, body .container .menu_enchante .plats .entree .titre_prix .prix, body .container .menu_francais .plats .entree .titre_prix .prix, body .container .menu_des_sens .plats .entree .titre_prix .prix, body .container .menu_du_gout .plats .plat .titre_prix .prix, body .container .menu_enchante .plats .plat .titre_prix .prix, body .container .menu_francais .plats .plat .titre_prix .prix, body .container .menu_des_sens .plats .plat .titre_prix .prix, body .container .menu_du_gout .plats .dessert .titre_prix .prix, body .container .menu_enchante .plats .dessert .titre_prix .prix, body .container .menu_francais .plats .dessert .titre_prix .prix, body .container .menu_des_sens .plats .dessert .titre_prix .prix, body .container .menu_du_gout .desserts .entree .titre_prix .prix, body .container .menu_enchante .desserts .entree .titre_prix .prix, body .container .menu_francais .desserts .entree .titre_prix .prix, body .container .menu_des_sens .desserts .entree .titre_prix .prix, body .container .menu_du_gout .desserts .plat .titre_prix .prix, body .container .menu_enchante .desserts .plat .titre_prix .prix, body .container .menu_francais .desserts .plat .titre_prix .prix, body .container .menu_des_sens .desserts .plat .titre_prix .prix, body .container .menu_du_gout .desserts .dessert .titre_prix .prix, body .container .menu_enchante .desserts .dessert .titre_prix .prix, body .container .menu_francais .desserts .dessert .titre_prix .prix, body .container .menu_des_sens .desserts .dessert .titre_prix .prix {
  margin-left: auto;
}

body .container .menu_du_gout .entrees .entree:hover .titre_prix .titre, body .container .menu_enchante .entrees .entree:hover .titre_prix .titre, body .container .menu_francais .entrees .entree:hover .titre_prix .titre, body .container .menu_des_sens .entrees .entree:hover .titre_prix .titre, body .container .menu_du_gout .entrees .plat:hover .titre_prix .titre, body .container .menu_enchante .entrees .plat:hover .titre_prix .titre, body .container .menu_francais .entrees .plat:hover .titre_prix .titre, body .container .menu_des_sens .entrees .plat:hover .titre_prix .titre, body .container .menu_du_gout .entrees .dessert:hover .titre_prix .titre, body .container .menu_enchante .entrees .dessert:hover .titre_prix .titre, body .container .menu_francais .entrees .dessert:hover .titre_prix .titre, body .container .menu_des_sens .entrees .dessert:hover .titre_prix .titre, body .container .menu_du_gout .plats .entree:hover .titre_prix .titre, body .container .menu_enchante .plats .entree:hover .titre_prix .titre, body .container .menu_francais .plats .entree:hover .titre_prix .titre, body .container .menu_des_sens .plats .entree:hover .titre_prix .titre, body .container .menu_du_gout .plats .plat:hover .titre_prix .titre, body .container .menu_enchante .plats .plat:hover .titre_prix .titre, body .container .menu_francais .plats .plat:hover .titre_prix .titre, body .container .menu_des_sens .plats .plat:hover .titre_prix .titre, body .container .menu_du_gout .plats .dessert:hover .titre_prix .titre, body .container .menu_enchante .plats .dessert:hover .titre_prix .titre, body .container .menu_francais .plats .dessert:hover .titre_prix .titre, body .container .menu_des_sens .plats .dessert:hover .titre_prix .titre, body .container .menu_du_gout .desserts .entree:hover .titre_prix .titre, body .container .menu_enchante .desserts .entree:hover .titre_prix .titre, body .container .menu_francais .desserts .entree:hover .titre_prix .titre, body .container .menu_des_sens .desserts .entree:hover .titre_prix .titre, body .container .menu_du_gout .desserts .plat:hover .titre_prix .titre, body .container .menu_enchante .desserts .plat:hover .titre_prix .titre, body .container .menu_francais .desserts .plat:hover .titre_prix .titre, body .container .menu_des_sens .desserts .plat:hover .titre_prix .titre, body .container .menu_du_gout .desserts .dessert:hover .titre_prix .titre, body .container .menu_enchante .desserts .dessert:hover .titre_prix .titre, body .container .menu_francais .desserts .dessert:hover .titre_prix .titre, body .container .menu_des_sens .desserts .dessert:hover .titre_prix .titre {
  position: absolute;
  animation: ellipsis 0.1ms both;
  -webkit-animation: ellipsis 0.1ms both;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container .menu_du_gout .entrees .entree:hover .titre_prix .prix, body .container .menu_enchante .entrees .entree:hover .titre_prix .prix, body .container .menu_francais .entrees .entree:hover .titre_prix .prix, body .container .menu_des_sens .entrees .entree:hover .titre_prix .prix, body .container .menu_du_gout .entrees .plat:hover .titre_prix .prix, body .container .menu_enchante .entrees .plat:hover .titre_prix .prix, body .container .menu_francais .entrees .plat:hover .titre_prix .prix, body .container .menu_des_sens .entrees .plat:hover .titre_prix .prix, body .container .menu_du_gout .entrees .dessert:hover .titre_prix .prix, body .container .menu_enchante .entrees .dessert:hover .titre_prix .prix, body .container .menu_francais .entrees .dessert:hover .titre_prix .prix, body .container .menu_des_sens .entrees .dessert:hover .titre_prix .prix, body .container .menu_du_gout .plats .entree:hover .titre_prix .prix, body .container .menu_enchante .plats .entree:hover .titre_prix .prix, body .container .menu_francais .plats .entree:hover .titre_prix .prix, body .container .menu_des_sens .plats .entree:hover .titre_prix .prix, body .container .menu_du_gout .plats .plat:hover .titre_prix .prix, body .container .menu_enchante .plats .plat:hover .titre_prix .prix, body .container .menu_francais .plats .plat:hover .titre_prix .prix, body .container .menu_des_sens .plats .plat:hover .titre_prix .prix, body .container .menu_du_gout .plats .dessert:hover .titre_prix .prix, body .container .menu_enchante .plats .dessert:hover .titre_prix .prix, body .container .menu_francais .plats .dessert:hover .titre_prix .prix, body .container .menu_des_sens .plats .dessert:hover .titre_prix .prix, body .container .menu_du_gout .desserts .entree:hover .titre_prix .prix, body .container .menu_enchante .desserts .entree:hover .titre_prix .prix, body .container .menu_francais .desserts .entree:hover .titre_prix .prix, body .container .menu_des_sens .desserts .entree:hover .titre_prix .prix, body .container .menu_du_gout .desserts .plat:hover .titre_prix .prix, body .container .menu_enchante .desserts .plat:hover .titre_prix .prix, body .container .menu_francais .desserts .plat:hover .titre_prix .prix, body .container .menu_des_sens .desserts .plat:hover .titre_prix .prix, body .container .menu_du_gout .desserts .dessert:hover .titre_prix .prix, body .container .menu_enchante .desserts .dessert:hover .titre_prix .prix, body .container .menu_francais .desserts .dessert:hover .titre_prix .prix, body .container .menu_des_sens .desserts .dessert:hover .titre_prix .prix {
  position: relative;
  margin-lef: 40%;
  animation: slide 0.1ms both;
  -webkit-transition: slide 0.1ms both;
  -moz-transition: slide 0.1ms both;
  -ms-transition: slide 0.1ms both;
  -o-transition: slide 0.1ms both;
  -webkit-animation: slide 0.1ms both;
}

body .container .menu_du_gout .entrees .entree:hover i.far.fa-check-circle, body .container .menu_enchante .entrees .entree:hover i.far.fa-check-circle, body .container .menu_francais .entrees .entree:hover i.far.fa-check-circle, body .container .menu_des_sens .entrees .entree:hover i.far.fa-check-circle, body .container .menu_du_gout .entrees .plat:hover i.far.fa-check-circle, body .container .menu_enchante .entrees .plat:hover i.far.fa-check-circle, body .container .menu_francais .entrees .plat:hover i.far.fa-check-circle, body .container .menu_des_sens .entrees .plat:hover i.far.fa-check-circle, body .container .menu_du_gout .entrees .dessert:hover i.far.fa-check-circle, body .container .menu_enchante .entrees .dessert:hover i.far.fa-check-circle, body .container .menu_francais .entrees .dessert:hover i.far.fa-check-circle, body .container .menu_des_sens .entrees .dessert:hover i.far.fa-check-circle, body .container .menu_du_gout .plats .entree:hover i.far.fa-check-circle, body .container .menu_enchante .plats .entree:hover i.far.fa-check-circle, body .container .menu_francais .plats .entree:hover i.far.fa-check-circle, body .container .menu_des_sens .plats .entree:hover i.far.fa-check-circle, body .container .menu_du_gout .plats .plat:hover i.far.fa-check-circle, body .container .menu_enchante .plats .plat:hover i.far.fa-check-circle, body .container .menu_francais .plats .plat:hover i.far.fa-check-circle, body .container .menu_des_sens .plats .plat:hover i.far.fa-check-circle, body .container .menu_du_gout .plats .dessert:hover i.far.fa-check-circle, body .container .menu_enchante .plats .dessert:hover i.far.fa-check-circle, body .container .menu_francais .plats .dessert:hover i.far.fa-check-circle, body .container .menu_des_sens .plats .dessert:hover i.far.fa-check-circle, body .container .menu_du_gout .desserts .entree:hover i.far.fa-check-circle, body .container .menu_enchante .desserts .entree:hover i.far.fa-check-circle, body .container .menu_francais .desserts .entree:hover i.far.fa-check-circle, body .container .menu_des_sens .desserts .entree:hover i.far.fa-check-circle, body .container .menu_du_gout .desserts .plat:hover i.far.fa-check-circle, body .container .menu_enchante .desserts .plat:hover i.far.fa-check-circle, body .container .menu_francais .desserts .plat:hover i.far.fa-check-circle, body .container .menu_des_sens .desserts .plat:hover i.far.fa-check-circle, body .container .menu_du_gout .desserts .dessert:hover i.far.fa-check-circle, body .container .menu_enchante .desserts .dessert:hover i.far.fa-check-circle, body .container .menu_francais .desserts .dessert:hover i.far.fa-check-circle, body .container .menu_des_sens .desserts .dessert:hover i.far.fa-check-circle {
  position: absolute;
  background-color: #99e2d0;
  color: white;
  font-weight: bold;
  padding: 24px;
  line-height: 56px;
  border-top-right-radius: 2vh;
  border-bottom-right-radius: 2vh;
  margin-top: -103px;
  animation: fade-2 0.1ms both;
  -webkit-animation: fade-2 0.1ms both;
}

body .container .menu_du_gout .entrees .check_circle, body .container .menu_enchante .entrees .check_circle, body .container .menu_francais .entrees .check_circle, body .container .menu_des_sens .entrees .check_circle, body .container .menu_du_gout .plats .check_circle, body .container .menu_enchante .plats .check_circle, body .container .menu_francais .plats .check_circle, body .container .menu_des_sens .plats .check_circle, body .container .menu_du_gout .desserts .check_circle, body .container .menu_enchante .desserts .check_circle, body .container .menu_francais .desserts .check_circle, body .container .menu_des_sens .desserts .check_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .container .menu_du_gout .entrees .check_circle i.far.fa-check-circle, body .container .menu_enchante .entrees .check_circle i.far.fa-check-circle, body .container .menu_francais .entrees .check_circle i.far.fa-check-circle, body .container .menu_des_sens .entrees .check_circle i.far.fa-check-circle, body .container .menu_du_gout .plats .check_circle i.far.fa-check-circle, body .container .menu_enchante .plats .check_circle i.far.fa-check-circle, body .container .menu_francais .plats .check_circle i.far.fa-check-circle, body .container .menu_des_sens .plats .check_circle i.far.fa-check-circle, body .container .menu_du_gout .desserts .check_circle i.far.fa-check-circle, body .container .menu_enchante .desserts .check_circle i.far.fa-check-circle, body .container .menu_francais .desserts .check_circle i.far.fa-check-circle, body .container .menu_des_sens .desserts .check_circle i.far.fa-check-circle {
  position: relative;
  font-size: 0;
  font-weight: lighter;
}

@-webkit-keyframes fade-1 {
  0% {
    opacity: 0;
    transform: translate3d(-1000px, 0, 0);
    -webkit-transform: translate3d(-1000px, 0, 0);
    -moz-transform: translate3d(-1000px, 0, 0);
    -ms-transform: translate3d(-1000px, 0, 0);
    -o-transform: translate3d(-1000px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: 0;
    -webkit-transform: 0;
    -moz-transform: 0;
    -ms-transform: 0;
    -o-transform: 0;
  }
}

@keyframes fade-1 {
  0% {
    opacity: 0;
    transform: translate3d(-1000px, 0, 0);
    -webkit-transform: translate3d(-1000px, 0, 0);
    -moz-transform: translate3d(-1000px, 0, 0);
    -ms-transform: translate3d(-1000px, 0, 0);
    -o-transform: translate3d(-1000px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: 0;
    -webkit-transform: 0;
    -moz-transform: 0;
    -ms-transform: 0;
    -o-transform: 0;
  }
}

body .container .menu_du_gout .entrees, body .container .menu_enchante .entrees, body .container .menu_francais .entrees, body .container .menu_des_sens .entrees {
  -webkit-animation-delay: 0.1ms;
          animation-delay: 0.1ms;
}

body .container .menu_du_gout .plats, body .container .menu_enchante .plats, body .container .menu_francais .plats, body .container .menu_des_sens .plats {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

body .container .menu_du_gout .desserts, body .container .menu_enchante .desserts, body .container .menu_francais .desserts, body .container .menu_des_sens .desserts {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes fade-2 {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    font-size: 41px;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}

@keyframes fade-2 {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    font-size: 41px;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}

@-webkit-keyframes ellipsis {
  0% {
    opacity: 0;
    text-overflow: ellipsis;
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    font-size: 14px;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}

@keyframes ellipsis {
  0% {
    opacity: 0;
    text-overflow: ellipsis;
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    font-size: 14px;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
    -moz-transform: translateX(-300%);
    -ms-transform: translateX(-300%);
    -o-transform: translateX(-300%);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
    -moz-transform: translateX(-300%);
    -ms-transform: translateX(-300%);
    -o-transform: translateX(-300%);
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes clip {
  0% {
    visibility: 1;
  }
  100% {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@keyframes clip {
  0% {
    visibility: 1;
  }
  100% {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

body .container .btn_commander {
  border: 0px solid #9356dc;
  background: -webkit-gradient(linear, left top, right top, from(#ff79da), to(#9356dc));
  background: linear-gradient(90deg, #ff79da 0%, #9356dc 100%);
  border-radius: 30px;
  width: 200px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-size: 15px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 26px;
  border-radius: 50px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

body .container .btn_commander a {
  text-decoration: none;
  color: white;
  margin: auto;
  font-size: 27px;
  font-family: Roboto;
}

body .container .btn_commander:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
  -webkit-box-shadow: 1px 1px 1px 1px;
          box-shadow: 1px 1px 1px 1px;
  -webkit-transition: 2s;
  transition: 2s;
}
/*# sourceMappingURL=style.css.map */