@font-face {
  font-family: Shrinkhand;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
}

@font-face {
  font-family: Roboto;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
}

body {
  background: #f2f2f2;
}

body .container {
  margin: auto;
  max-width: 768px;
  font-family: Shrinkhand, Roboto, serif, sans-serif;
}

body .container header {
  background-color: white;
  padding: 20px;
  margin: -16px;
}

body .container header .logo {
  height: 3rem;
  background-color: white;
  display: inherit;
  margin: auto;
}

body .container .reservation {
  margin: auto;
  width: 100%;
  background-color: #efefef;
  padding-bottom: 66px;
}

body .container .reservation .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e0e0e0;
  height: 58px;
  margin-top: 18px;
  margin-bottom: 50px;
  padding: 10px;
}

body .container .reservation .search i.fas.fa-map-marker-alt {
  padding-right: 15px;
  height: 34px;
  font-size: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .container .reservation .search input::-webkit-input-placeholder {
  color: black !important;
  background-color: #e0e0e0;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  height: 64px;
  padding: 15px 10px;
  width: 100%;
}

body .container .reservation .search input {
  border: none;
}

body .container .reservation .heading {
  text-align: center;
  margin: auto;
}

body .container .reservation .heading h1 {
  font-size: 25px;
}

body .container .reservation .heading h3, body .container .reservation .heading section h4, body .container section .reservation .heading h4 {
  font-size: 18px;
  font-weight: normal;
  color: #888;
  height: 60px;
}

body .container .reservation .btn {
  border: 0px solid #9356dc;
  background: -webkit-gradient(linear, left top, right top, from(#ff79da), to(#9356dc));
  background: linear-gradient(90deg, #ff79da 0%, #9356dc 100%);
  border-radius: 30px;
  width: 42%;
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-size: 15px;
  font-weight: bold;
}

body .container .reservation .btn a {
  text-decoration: none;
  color: white;
  margin: auto;
}

body .container aside {
  background-color: white;
  padding: 1px;
}

body .container aside .offre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  font-weight: bold;
}

body .container aside .offre i {
  margin: 20px;
  color: #888;
  font-size: 21px;
}

body .container aside .offre i.fas.fa-store {
  color: #9356dc;
}

body .container aside .offre .cercle {
  background-color: #9356dc;
  border-radius: 20px;
  padding: 6px 10px;
  margin-left: -4px;
  color: white;
}

body .container aside .offre a {
  text-decoration: none;
  color: black;
  font-size: 19px;
  padding: 12px 3px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 20px;
  border-bottom-color: #dad0d0;
}

body .container aside .offre .deguster {
  background: -webkit-gradient(linear, left top, right top, color-stop(98%, #e7def0), to(rgba(228, 205, 255, 0.997773)));
  background: linear-gradient(90deg, #e7def0 98%, rgba(228, 205, 255, 0.997773) 100%);
}

body .container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eee;
}

body .container section a {
  text-decoration: none;
}

body .container section .card {
  border: 1px solid #f2f2f2;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 20px;
  position: relative;
}

body .container section h3, body .container section h4 {
  padding-left: 10px;
  font-family: Shrinkhand;
  color: black;
}

body .container section h4 {
  font-weight: 300;
  font-size: 19px;
  margin-top: -15px;
  color: #333;
}

body .container section .img, body .container section .img_section {
  width: 100%;
  max-height: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container section .img_section {
  border-top-left-radius: 4vw;
  border-top-right-radius: 4vw;
}

body .container section .legende_card, body .container section main .menu_du_gout .legende_card h1, body .container main .menu_du_gout .legende_card section h1, body .container section main .menu_enchante .legende_card h1, body .container main .menu_enchante .legende_card section h1, body .container section main .menu_francais .legende_card h1, body .container main .menu_francais .legende_card section h1, body .container section main .menu_des_sens .legende_card h1, body .container main .menu_des_sens .legende_card section h1, body .container section main .menu_du_gout .entree .titre_prix, body .container main .menu_du_gout .entree section .titre_prix, body .container section main .menu_enchante .entree .titre_prix, body .container main .menu_enchante .entree section .titre_prix, body .container section main .menu_francais .entree .titre_prix, body .container main .menu_francais .entree section .titre_prix, body .container section main .menu_des_sens .entree .titre_prix, body .container main .menu_des_sens .entree section .titre_prix, body .container section main .menu_du_gout .plat .titre_prix, body .container main .menu_du_gout .plat section .titre_prix, body .container section main .menu_enchante .plat .titre_prix, body .container main .menu_enchante .plat section .titre_prix, body .container section main .menu_francais .plat .titre_prix, body .container main .menu_francais .plat section .titre_prix, body .container section main .menu_des_sens .plat .titre_prix, body .container main .menu_des_sens .plat section .titre_prix, body .container section main .menu_du_gout .dessert .titre_prix, body .container main .menu_du_gout .dessert section .titre_prix, body .container section main .menu_enchante .dessert .titre_prix, body .container main .menu_enchante .dessert section .titre_prix, body .container section main .menu_francais .dessert .titre_prix, body .container main .menu_francais .dessert section .titre_prix, body .container section main .menu_des_sens .dessert .titre_prix, body .container main .menu_des_sens .dessert section .titre_prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container section .legende_card i, body .container section main .menu_du_gout .legende_card h1 i, body .container main .menu_du_gout .legende_card section h1 i, body .container section main .menu_enchante .legende_card h1 i, body .container main .menu_enchante .legende_card section h1 i, body .container section main .menu_francais .legende_card h1 i, body .container main .menu_francais .legende_card section h1 i, body .container section main .menu_des_sens .legende_card h1 i, body .container main .menu_des_sens .legende_card section h1 i, body .container section main .menu_du_gout .entree .titre_prix i, body .container main .menu_du_gout .entree section .titre_prix i, body .container section main .menu_enchante .entree .titre_prix i, body .container main .menu_enchante .entree section .titre_prix i, body .container section main .menu_francais .entree .titre_prix i, body .container main .menu_francais .entree section .titre_prix i, body .container section main .menu_des_sens .entree .titre_prix i, body .container main .menu_des_sens .entree section .titre_prix i, body .container section main .menu_du_gout .plat .titre_prix i, body .container main .menu_du_gout .plat section .titre_prix i, body .container section main .menu_enchante .plat .titre_prix i, body .container main .menu_enchante .plat section .titre_prix i, body .container section main .menu_francais .plat .titre_prix i, body .container main .menu_francais .plat section .titre_prix i, body .container section main .menu_des_sens .plat .titre_prix i, body .container main .menu_des_sens .plat section .titre_prix i, body .container section main .menu_du_gout .dessert .titre_prix i, body .container main .menu_du_gout .dessert section .titre_prix i, body .container section main .menu_enchante .dessert .titre_prix i, body .container main .menu_enchante .dessert section .titre_prix i, body .container section main .menu_francais .dessert .titre_prix i, body .container main .menu_francais .dessert section .titre_prix i, body .container section main .menu_des_sens .dessert .titre_prix i, body .container main .menu_des_sens .dessert section .titre_prix i {
  margin-left: auto;
  margin-top: 20px;
  font-size: 30px;
  font-weight: normal;
  color: #888;
  width: 15%;
}

body .container section .legende_card i:hover, body .container main .menu_du_gout .legende_card section h1 i:hover, body .container main .menu_enchante .legende_card section h1 i:hover, body .container main .menu_francais .legende_card section h1 i:hover, body .container main .menu_des_sens .legende_card section h1 i:hover, body .container section main .menu_du_gout .entree .titre_prix i:hover, body .container main .menu_du_gout .entree section .titre_prix i:hover, body .container section main .menu_enchante .entree .titre_prix i:hover, body .container main .menu_enchante .entree section .titre_prix i:hover, body .container section main .menu_francais .entree .titre_prix i:hover, body .container main .menu_francais .entree section .titre_prix i:hover, body .container section main .menu_des_sens .entree .titre_prix i:hover, body .container main .menu_des_sens .entree section .titre_prix i:hover, body .container section main .menu_du_gout .plat .titre_prix i:hover, body .container main .menu_du_gout .plat section .titre_prix i:hover, body .container section main .menu_enchante .plat .titre_prix i:hover, body .container main .menu_enchante .plat section .titre_prix i:hover, body .container section main .menu_francais .plat .titre_prix i:hover, body .container main .menu_francais .plat section .titre_prix i:hover, body .container section main .menu_des_sens .plat .titre_prix i:hover, body .container main .menu_des_sens .plat section .titre_prix i:hover, body .container section main .menu_du_gout .dessert .titre_prix i:hover, body .container main .menu_du_gout .dessert section .titre_prix i:hover, body .container section main .menu_enchante .dessert .titre_prix i:hover, body .container main .menu_enchante .dessert section .titre_prix i:hover, body .container section main .menu_francais .dessert .titre_prix i:hover, body .container main .menu_francais .dessert section .titre_prix i:hover, body .container section main .menu_des_sens .dessert .titre_prix i:hover, body .container main .menu_des_sens .dessert section .titre_prix i:hover {
  color: #9356dc;
  cursor: pointer;
  font-weight: bolder;
}

body .container section .new_label {
  position: absolute;
  top: 20px;
  right: 12px;
  width: 100px;
  background: #99e2d0;
  color: #058868;
  font-weight: bold;
  padding: 8px;
  border-radius: 3px;
  font-size: 23px;
}

body .container main .heading {
  margin-top: 20px;
  background-color: white;
}

body .container main .heading .logo_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container main .heading .logo_arrow i.fas.fa-arrow-left {
  font-weight: 900;
  font-size: xx-large;
  color: black;
}

body .container main .heading .logo_arrow .img_logo {
  margin: auto;
  font-family: Shrankhan;
  padding: 15px;
  height: 48px;
}

body .container main .heading .img_main {
  width: 100%;
  max-height: 60vw;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container main .menu_du_gout, body .container main .menu_enchante, body .container main .menu_francais, body .container main .menu_des_sens {
  background-color: #f2f2f2;
  margin-top: -15px;
}

body .container main .menu_du_gout .legende_card, body .container main .menu_enchante .legende_card, body .container main .menu_francais .legende_card, body .container main .menu_des_sens .legende_card, body .container main .menu_du_gout .legende_card h1, body .container main .menu_enchante .legende_card h1, body .container main .menu_francais .legende_card h1, body .container main .menu_des_sens .legende_card h1, body .container main .menu_du_gout .entree .titre_prix, body .container main .menu_enchante .entree .titre_prix, body .container main .menu_francais .entree .titre_prix, body .container main .menu_des_sens .entree .titre_prix, body .container main .menu_du_gout .plat .titre_prix, body .container main .menu_enchante .plat .titre_prix, body .container main .menu_francais .plat .titre_prix, body .container main .menu_des_sens .plat .titre_prix, body .container main .menu_du_gout .dessert .titre_prix, body .container main .menu_enchante .dessert .titre_prix, body .container main .menu_francais .dessert .titre_prix, body .container main .menu_des_sens .dessert .titre_prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Shrankhand;
  width: 93%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  font-style: italic;
  height: 82px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

body .container main .menu_du_gout .legende_card h1, body .container main .menu_enchante .legende_card h1, body .container main .menu_francais .legende_card h1, body .container main .menu_des_sens .legende_card h1, body .container main .menu_du_gout .entree .titre_prix h1, body .container main .menu_enchante .entree .titre_prix h1, body .container main .menu_francais .entree .titre_prix h1, body .container main .menu_des_sens .entree .titre_prix h1, body .container main .menu_du_gout .plat .titre_prix h1, body .container main .menu_enchante .plat .titre_prix h1, body .container main .menu_francais .plat .titre_prix h1, body .container main .menu_des_sens .plat .titre_prix h1, body .container main .menu_du_gout .dessert .titre_prix h1, body .container main .menu_enchante .dessert .titre_prix h1, body .container main .menu_francais .dessert .titre_prix h1, body .container main .menu_des_sens .dessert .titre_prix h1 {
  font-size: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  margin-top: 50px;
}

body .container main .menu_du_gout .legende_card i.fas.fa-heart, body .container main .menu_enchante .legende_card i.fas.fa-heart, body .container main .menu_francais .legende_card i.fas.fa-heart, body .container main .menu_des_sens .legende_card i.fas.fa-heart, body .container main .menu_du_gout .entree .titre_prix i.fas.fa-heart, body .container main .menu_enchante .entree .titre_prix i.fas.fa-heart, body .container main .menu_francais .entree .titre_prix i.fas.fa-heart, body .container main .menu_des_sens .entree .titre_prix i.fas.fa-heart, body .container main .menu_du_gout .plat .titre_prix i.fas.fa-heart, body .container main .menu_enchante .plat .titre_prix i.fas.fa-heart, body .container main .menu_francais .plat .titre_prix i.fas.fa-heart, body .container main .menu_des_sens .plat .titre_prix i.fas.fa-heart, body .container main .menu_du_gout .dessert .titre_prix i.fas.fa-heart, body .container main .menu_enchante .dessert .titre_prix i.fas.fa-heart, body .container main .menu_francais .dessert .titre_prix i.fas.fa-heart, body .container main .menu_des_sens .dessert .titre_prix i.fas.fa-heart {
  margin-top: 27px;
}

body .container main .menu_du_gout h1, body .container main .menu_enchante h1, body .container main .menu_francais h1, body .container main .menu_des_sens h1, body .container main .menu_du_gout h2, body .container main .menu_enchante h2, body .container main .menu_francais h2, body .container main .menu_des_sens h2, body .container main .menu_du_gout h3, body .container main .menu_enchante h3, body .container main .menu_francais h3, body .container main .menu_des_sens h3, body .container main .menu_du_gout section h4, body .container section main .menu_du_gout h4, body .container main .menu_enchante section h4, body .container section main .menu_enchante h4, body .container main .menu_francais section h4, body .container section main .menu_francais h4, body .container main .menu_des_sens section h4, body .container section main .menu_des_sens h4 {
  font-family: Shrinkhand;
}

body .container main .menu_du_gout h2, body .container main .menu_enchante h2, body .container main .menu_francais h2, body .container main .menu_des_sens h2 {
  width: 60px;
  border: 4px solid #99e2d0;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 6px;
  margin-top: 50px;
  color: #888;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px;
}

body .container main .menu_du_gout .entree, body .container main .menu_enchante .entree, body .container main .menu_francais .entree, body .container main .menu_des_sens .entree, body .container main .menu_du_gout .plat, body .container main .menu_du_gout .menu_enchante .plat, body .container main .menu_enchante .menu_du_gout .plat, body .container main .menu_enchante .plat, body .container main .menu_du_gout .menu_francais .plat, body .container main .menu_francais .menu_du_gout .plat, body .container main .menu_enchante .menu_francais .plat, body .container main .menu_francais .menu_enchante .plat, body .container main .menu_francais .plat, body .container main .menu_du_gout .menu_des_sens .plat, body .container main .menu_des_sens .menu_du_gout .plat, body .container main .menu_enchante .menu_des_sens .plat, body .container main .menu_des_sens .menu_enchante .plat, body .container main .menu_francais .menu_des_sens .plat, body .container main .menu_des_sens .menu_francais .plat, body .container main .menu_des_sens .plat, body .container main .menu_du_gout .dessert, body .container main .menu_du_gout .menu_enchante .dessert, body .container main .menu_enchante .menu_du_gout .dessert, body .container main .menu_enchante .dessert, body .container main .menu_du_gout .menu_francais .dessert, body .container main .menu_francais .menu_du_gout .dessert, body .container main .menu_enchante .menu_francais .dessert, body .container main .menu_francais .menu_enchante .dessert, body .container main .menu_francais .dessert, body .container main .menu_du_gout .menu_des_sens .dessert, body .container main .menu_des_sens .menu_du_gout .dessert, body .container main .menu_enchante .menu_des_sens .dessert, body .container main .menu_des_sens .menu_enchante .dessert, body .container main .menu_francais .menu_des_sens .dessert, body .container main .menu_des_sens .menu_francais .dessert, body .container main .menu_des_sens .dessert {
  border: 1px solid white;
  background-color: white;
  border-radius: 20px;
  border-bottom-color: #dad0d0;
  padding: 0 4px 0 10px;
  margin-top: 15px;
  cursor: pointer;
}

body .container main .menu_du_gout .entree .titre_prix, body .container main .menu_enchante .entree .titre_prix, body .container main .menu_francais .entree .titre_prix, body .container main .menu_des_sens .entree .titre_prix, body .container main .menu_du_gout .plat .titre_prix, body .container main .menu_enchante .plat .titre_prix, body .container main .menu_francais .plat .titre_prix, body .container main .menu_des_sens .plat .titre_prix, body .container main .menu_du_gout .dessert .titre_prix, body .container main .menu_enchante .dessert .titre_prix, body .container main .menu_francais .dessert .titre_prix, body .container main .menu_des_sens .dessert .titre_prix {
  font-style: normal;
  font-size: 15px;
  margin-top: -40px;
}

body .container main .menu_du_gout .entree .titre_prix .prix, body .container main .menu_enchante .entree .titre_prix .prix, body .container main .menu_francais .entree .titre_prix .prix, body .container main .menu_des_sens .entree .titre_prix .prix, body .container main .menu_du_gout .plat .titre_prix .prix, body .container main .menu_enchante .plat .titre_prix .prix, body .container main .menu_francais .plat .titre_prix .prix, body .container main .menu_des_sens .plat .titre_prix .prix, body .container main .menu_du_gout .dessert .titre_prix .prix, body .container main .menu_enchante .dessert .titre_prix .prix, body .container main .menu_francais .dessert .titre_prix .prix, body .container main .menu_des_sens .dessert .titre_prix .prix {
  margin-left: auto;
}

body .container main .menu_du_gout .entree .titre_prix i.fas.fa-check-circle, body .container main .menu_enchante .entree .titre_prix i.fas.fa-check-circle, body .container main .menu_francais .entree .titre_prix i.fas.fa-check-circle, body .container main .menu_des_sens .entree .titre_prix i.fas.fa-check-circle, body .container main .menu_du_gout .plat .titre_prix i.fas.fa-check-circle, body .container main .menu_enchante .plat .titre_prix i.fas.fa-check-circle, body .container main .menu_francais .plat .titre_prix i.fas.fa-check-circle, body .container main .menu_des_sens .plat .titre_prix i.fas.fa-check-circle, body .container main .menu_du_gout .dessert .titre_prix i.fas.fa-check-circle, body .container main .menu_enchante .dessert .titre_prix i.fas.fa-check-circle, body .container main .menu_francais .dessert .titre_prix i.fas.fa-check-circle, body .container main .menu_des_sens .dessert .titre_prix i.fas.fa-check-circle {
  overflow: hidden;
  position: absolute;
}

body .container main .menu_du_gout .entree .titre_prix .btn_circle, body .container main .menu_enchante .entree .titre_prix .btn_circle, body .container main .menu_francais .entree .titre_prix .btn_circle, body .container main .menu_des_sens .entree .titre_prix .btn_circle, body .container main .menu_du_gout .plat .titre_prix .btn_circle, body .container main .menu_enchante .plat .titre_prix .btn_circle, body .container main .menu_francais .plat .titre_prix .btn_circle, body .container main .menu_des_sens .plat .titre_prix .btn_circle, body .container main .menu_du_gout .dessert .titre_prix .btn_circle, body .container main .menu_enchante .dessert .titre_prix .btn_circle, body .container main .menu_francais .dessert .titre_prix .btn_circle, body .container main .menu_des_sens .dessert .titre_prix .btn_circle {
  position: relative;
  left: 27%;
  top: 30%;
  background: #99e2d0;
  -webkit-animation: validebtn ease 0.5s 1;
          animation: validebtn ease 0.5s 1;
}

body .container main .menu_du_gout .btn, body .container main .menu_enchante .btn, body .container main .menu_francais .btn, body .container main .menu_des_sens .btn {
  border: 0px solid #9356dc;
  background: -webkit-gradient(linear, left top, right top, from(#ff79da), to(#9356dc));
  background: linear-gradient(90deg, #ff79da 0%, #9356dc 100%);
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: bold;
}

body .container main .menu_du_gout .btn a, body .container main .menu_enchante .btn a, body .container main .menu_francais .btn a, body .container main .menu_des_sens .btn a {
  text-decoration: none;
  color: white;
  margin: auto;
  font-size: 27px;
  font-family: Roboto;
}

body .container main .menu_du_gout .btn_commander, body .container main .menu_enchante .btn_commander, body .container main .menu_francais .btn_commander, body .container main .menu_des_sens .btn_commander {
  border: 0px solid #9356dc;
  background: -webkit-gradient(linear, left top, right top, from(#ff79da), to(#9356dc));
  background: linear-gradient(90deg, #ff79da 0%, #9356dc 100%);
  border-radius: 30px;
  width: 42%;
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-size: 15px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 26px;
  border-radius: 50px;
}

body .container footer {
  background: #333;
  font-family: Roboto, sans-serif;
  padding: 40px 30px;
  color: #fff;
}

body .container footer img {
  height: 2rem;
  -webkit-filter: invert(1);
          filter: invert(1);
}

body .container footer ul {
  list-style-type: none;
  margin-left: -40px;
  font-size: 21px;
  line-height: 37px;
}

body .container footer ul i {
  padding-right: 10px;
}

body .container footer ul i.fas.fa-hands-helping {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  body aside {
    margin: auto;
    grid-gap: 25px;
  }
  body aside .offre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    grid-gap: 25px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  body .menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */